* {
  margin: 0;
  padding: 0;
  font-family: "Secular One", sans-serif;
}

#container {
  border: 1px solid;
  height: 635px;
  background-color: #03031d;
  position: relative;
}

#card {
  background-color: #0b0b67;
  border-radius: 10px;
  width: 300px;
  height: 530px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#card #img1 {
  position: absolute;
  margin: 7rem auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.6s ease;
}

#card #img1:hover {
  opacity: 2;
  cursor: pointer;
}

#card #img2 {
  display: block;
  width: 260px;
  height: 250px;
  margin: 15px auto;
  border-radius: 9px;
}

h4 {
  color: white;
  font-size: 25px;
  margin: 0px 20px;
  font-weight: 300;
  transition: all 0.5s ease;
}

h4:hover {
  color: rgb(0, 255, 248);
  cursor: pointer;
}

#para1 {
  color: rgb(139, 172, 217);
  margin: 10px 20px;
  font-size: 15px;
}

#para2 {
  display: inline;
  color: rgb(0, 255, 248);
  position: relative;
  top: -2px;
}

#para3 {
  display: inline;
  color: rgb(139, 172, 217);
}

#two {
  margin: 20px;
}

#svg2 {
  margin: -3px 1px;
}

#inner2 {
  display: inline;
  position: relative;
  left: 82px;
  top: -1px;
}

hr {
  width: 83%;
  margin: 0px 26px;
  background-color: rgb(139, 172, 217);
}

#pics {
  margin: 0px 2px;
}

#pics img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 20px;
  display: inline;
}

#pics p {
  display: inline;
  position: relative;
  color: rgb(139, 172, 217);
  top: -35px;
  left: -15px;
}

span {
  color: white;
}
